@tailwind base;
@tailwind components;
@layer base {
  :root {
    --background: 0 0 0;
    --foreground: 240 240 240;
    --primary: 59 130 246;
    --secondary: 147 51 234;
    --muted: 75 85 99;
    --accent: 217 70 239;
    --destructive: 220 38 38;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded-md font-semibold hover:bg-blue-700;
  }
  
  .btn-secondary {
    @apply bg-gray-600 text-white px-4 py-2 rounded-md font-semibold hover:bg-gray-700;
  }
}